{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [{cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
	{gproc, ".*", {git, "git://github.com/esl/gproc.git", "master"}},
	{lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
	{mongodb, ".*", {git, "git://github.com/mongodb/mongodb-erlang.git", "master"}}]}.
