{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [{ranch, ".*", {git, "git://github.com/extend/ranch.git", "master"}},
	{gproc, ".*", {git, "git://github.com/esl/gproc.git", "master"}},
	{lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
	{neotoma, ".*", {git, "git://github.com/seancribbs/neotoma.git", "master"}}]}.
